@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <hr /> 
    <h1 style="text-align:center">CIMEDI</h1>
    <p class="lead" style="text-align:center">
        Software para gestionar las citas médicas de los pacientes y mostrar la disponibilidad
    </p>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <h3>   </h3>
        <h2 style="font-weight: bold">Equipo de Desarrollo</h2>
        <ul style="font-size: 23px">
            <li>Gabriel Mendez Reyes |</li>
            <li>Gerzon Zorrilla |</li>
            <li>Eduardo Calderon |</li>
        </ul>

    </div>
    <div class="col-md-4">
        <section>
            <div class="row">
                <img class="img-responsive center-block" src="~/Imagen/Logo.JPG" style="height:300px;width:300px;" />
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <h3>   </h3>
        <h2 style="font-weight: bold">Materia</h2>
        <ul style="font-size: 23px">
            <li>Base de Datos I</li>
        </ul>

        <h2 style="font-weight: bold">Profesor</h2>
        <ul style="font-size: 23px">
            <li>Joel Francis Jimenez Baez </li>
        </ul>
    </div>
</div>