@model List<FinalCitasMedicas.tblEspecialidad>

@{
    ViewBag.Title = "Especialidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr style="border-width: 5px;" />
<h3>Especialidades Registradas</h3>
<div>
    <img src="~/Imagen/cardiology.png" style="height:100px;width:100px;" />
</div>
<h3>   </h3>


@if (ViewBag.isAdmin)
{
    <button type="button" onclick="location.href='@Url.Action("New", "Especialidad")'">
        Nueva Especialidad
    </button>
}

<hr style="border-width: 5px;" />

<div class="table-responsive">
    <table class="table table-bordered"
           id="especialidadesTable">
        <thead>
            <tr class="warning">
                <th>Especialidad</th>

                @if (ViewBag.isAdmin)
                {
                    <th>Acciones</th>
                }


            </tr>
            @{
                foreach (var p in Model)
                {
            <tr>
                <td style="padding:0 15px 0 15px;">@p.nombreEspecialidad</td>

                @if (ViewBag.isAdmin)
                {
                    <td>
                        @Html.ActionLink("| Editar", "Edit", "Especialidad", new { id = p.idEspecialidad }, null)
                        @Html.ActionLink("| Eliminar", "Delete", "Especialidad", new { id = p.idEspecialidad }, null)
                    </td>
                }

            </tr>
                }
            }
        </thead>
    </table>
</div>


